/* @font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/atkinson/atkinson-hyperlegible-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local(''),
    url('/assets/fonts/atkinson/atkinson-hyperlegible-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local(''),
    url('/assets/fonts/atkinson/atkinson-hyperlegible-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Redhat';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local(''),
    url('/assets/fonts/redhat/red-hat-display-v7-latin-900.woff2') format('woff2');
} */


@font-face {
  font-family: 'Source Sans';
  src:
    local('Source Sans Extra Bold'),
    local('source-sans-extra-bold'),
    url('/assets/fonts/source-sans/sources-sans-900.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans';
  src:
    local('Source Sans Bold'),
    local('source-sans-bold'),
    url('/assets/fonts/source-sans/sources-sans-700.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans';
  src:
    local('Source Sans Regular'),
    local('source-sans-regular'),
    url('/assets/fonts/source-sans/source-sans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal italic;
  font-display: swap;
}


@font-face {
  font-family: 'Literata';
  src:
      local('Literata ExtraBold'),
      local('Literata-ExtraBold'),
      url('/assets/fonts/literata/Literata-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

  @font-face {
  font-family: 'Literata';
  src:
      local('Literata Bold'),
      local('Literata-Bold'),
      url('/assets/fonts/literata/Literata-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

  @font-face {
  font-family: 'Literata';
  src:
      local('Literata Italic'),
      local('Literata-Italic'),
      url('/assets/fonts/literata/Literata-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

  @font-face {
  font-family: 'Literata';
  src:
      local('Literata Regular'),
      local('Literata-Regular'),
      url('/assets/fonts/literata/Literata-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}