---
layout: base
schema: BlogPosting
---

<article class="region h-entry" style="--region-space-top: var(--space-xl); background-color: var(--color-bg-article)">
  <div class="wrapper flow prose e-content">
    {# <h1 class="gradient-text">{{ title }}</h1> #}
    <h1 class="feature">{{ title }}</h1>

    {% if image %}
      <!-- image -->
      {% image image, alt or title, credit, "eager", "feature u-photo" %}
    {% endif %}
      
      {%
        if tags.length >
        1
      %}
      <p class="meta | cluster gutter-xs-s">
        <!-- tags -->
        {% for tag in tags %}{% if tag != "projects" %}
          <a class="button p-category" rel="tag" href="/tags/{{ tag }}" data-small-button> {{ tag }} </a>
        {% endif %}{% endfor %}
         </p>
      {% endif %}
   

    {{ content | safe }}
    {% include 'partials/edit-on.njk' %}


  </div>

    


  <!--  h-card infos: https://indieweb.org/authorship -->
  <div hidden class="h-entry">
    <a class="u-url dt-published" href="{{ page.url | url | absoluteUrl(meta.url) }}">{{ title }}</a>
    <a class="p-author" rel="author" href="{{ meta.url }}">{{ meta.author.name }}</a>
    <img
      eleventy:ignore
      class="u-photo"
      src="{{ meta.author.avatar | url | absoluteUrl(meta.url) }}"
      alt="{{ meta.author.name }}"
    />
  </div>
</article>

{%- css "local" -%}
  {%- include 'css/project.css' -%}
  {%- include 'css/footnotes.css' -%}
{%- endcss -%}
