---
layout: base
permalink: /index.html
title: "*Progress in Works"
description: "Jason Day's progress in works. Consulting, writing, speaking. Accessibility, inclusive design, and otherwise meandering ramblings."
blog:
  title: "Featured posts"
  intro: "I'm showing the last 4 blog posts, but there might be more!"
---

<div class="wrapper">
  <section
    class="wrapper | popout | region"
    style="background-color: var(--color-gold); color: var(--color-dark); margin-block-start: var(--space-xl);"
  >
   <h1 style="padding-bottom: var(--space-m)">{{ title }}</h1>
     
        <div class="flow prose">
          <p style="font-size: var(--size-step-1); font-family: var(--font-display);">
            The concept of "progress in works" is a reflection of moving the work forward - mine, yours, and the ever-evolving state of accessibility & inclusive design. This site, my writing, and my own perspectives are all in progress, constantly shifting as we push for better, more thoughtful digital experiences.
          </p>
        </div>
    {# {% svg "divider/waves", null, "seperator" %} #}
  </section>

  <section class="full | region">
    <div class="wrapper flow prose">
    
      <!-- blog intro text is optional. -->

      {# {% if blog.intro %}
      <p>{{ blog.intro }}</p>
      {% endif %} #}

      <div class="feature | region region-space-l">
          <h2 class="">{{ blog.title }}</h2>
        {#
        <custom-masonry layout="50-50">
          #}
          <div class="grid region region-space-l" data-layout="thirds">
            <!-- loop posts -->
            {% set itemList = collections.allPosts %}
            {% asyncEach item in itemList.slice(0, 3) %} 
              {% set definedDate = item.date %} 
              {% set headingLevel = "h3" %}
              {% include "partials/card-blog.njk" %} 
            {% endeach %}
          </div>
          {#
        </custom-masonry>
        #}
      </div>
    </div>
  </section>
</div>
