.post article {
  margin-block-start: 0;
}

.post article h1 {
  font-size: var(--size-step-5);
  text-align: center;
  line-height: var(--leading-fine);
}

.post article h2 {
  font-size: var(--size-step-4);
}

.post article h3 {
  font-size: var(--size-step-3);
}

/* make featured image alwyays 16/9 */
.post h1 + :is(picture, figure) img {
  max-inline-size: var(--max-img-width, 100%);
  block-size: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.post figure:not(.feature) {
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.post figure.light-bg picture,
.post figure.light-bg img {
  background: #fff;
}

.post date {
  font-size: var(--size-step-1);
  color: var(--color-text-light);
}

.post .credit {
  font-size: var(--size-step-min-1);
  color: var(--color-text-accent);
  background-color: var(--color-bg);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--border-radius-medium);
  transform: translateY(-4ch) translateX(-0.5ch);
  max-inline-size: fit-content;
}

.post .meta {
  font-size: var(--size-step-min-1);
}

.post .breadcrumb {
  padding: .25rem 0;
}

.post .breadcrumb__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: var(--size-step-min-2);
}

li.breadcrumb__item {
  display: flex;
  gap: .25rem;
}

/* Webmentions styles */

.post .webmention--reply {
  border-top: 1px solid var(--color-bg-accent-2);
  padding-block-start: var(--space-s);
  display: grid;
  grid-template-columns: 15% 85%;
  gap: var(--space-xs);
  font-size: var(--size-step-min-1);
}

.post .webmention--reply .webmention__avatar,
.post .webmention--like .webmention__avatar {
  width: 100%;
  max-inline-size: 4rem;
  clip-path: circle(50% at 50% 50%);
  overflow: hidden;
}

.post .webmentions__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.post .webmentions__likes {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  margin: 0;
  padding: 0;
  list-style: none;
}